@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
::-webkit-scrollbar {
  width: 0.35rem;
}
/*-----------------------------------WELCOME-----------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
.logo {
  text-align: center;
  width: 65%;
  height: 20%;
  margin: auto;
  position: absolute;
  top: 35%;
  right: -5%;
  user-select: none;
}

.logo b{
  font-size:6rem;
  font-weight:400;
  color: #15f4ee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #15f4ee, 0 0 0.5em #15f4ee, 0 0 0.1em #15f4ee, 0 10px 3px #000;
}
.logo b span{
  animation: blink linear infinite 2s;
}
.logo b span:nth-of-type(2){
  animation: blink linear infinite 3s;
}
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79%{
     color: #333;
  }
  80% {
    
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #333;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }
  92% {
    color: #333;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
}

/*-----------------------------------------------------------------------------------*/
/* Track */
::-webkit-scrollbar-track {
  background: #fff; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #00000090; 
  border-radius: 0.35rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
/*---------loader--------*/
body {  
  background-color: #000;
  color: #fff;
}

.loader {
  position: fixed;
  left: 42%;
  top:10%;
}

.loader2 {
  left: 10%;
  top:20%;
}

.stroke-still {
  stroke: #232323;
}

.stroke-animation {
  -webkit-animation: stroke-spacing 1.2s ease-in, stroke-color 4.8s linear;
          animation: stroke-spacing 1.2s ease-in, stroke-color 4.8s linear;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-delay: 0;
          animation-delay: 0;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

@-webkit-keyframes stroke-spacing {
  0% {
    stroke-dasharray: 0 200;
  }
  45% {
    stroke-dashoffset: 0;
    stroke-dasharray: 200 200;
  }
  90% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
  }
  100% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
  }
}

@keyframes stroke-spacing {
  0% {
    stroke-dasharray: 0 200;
  }
  45% {
    stroke-dashoffset: 0;
    stroke-dasharray: 200 200;
  }
  90% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
  }
  100% {
    stroke-dashoffset: -200;
    stroke-dasharray: 200 200;
  }
}

@-webkit-keyframes stroke-color {
  0%  { stroke: red; }
  24% { stroke: blue; }
  25% { stroke: green; }
  49% { stroke: yellow; }
  50% { stroke: pink; }
  74% { stroke: orange; }
  75% { stroke: white; }
  99% { stroke: purple; }
}

@keyframes stroke-color {
  0%  { stroke: #3498DB; }
  24% { stroke: #643232; }
  25% { stroke: #327864; }
  49% { stroke: #327864; }
  50% { stroke: #32326e; }
  74% { stroke: #32326e; }
  75% { stroke: #78325a; }
  99% { stroke: #78325a; }
}

/* Add animation to "page content" */
.animate-left {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 0.5s;
  animation-name: animatebottom;
  animation-duration: 0.5s
}

@-webkit-keyframes animatebottom {
  from { left:-100px; opacity:0 } 
  to { left:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ left:-100px; opacity:0 } 
  to{ left:0; opacity:1 }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 0.5s;
  animation-name: animatebottom;
  animation-duration: 0.5s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
}

body {
    background-image: url("../img/test.jpeg");
    color: black;
    font-family: 'Montserrat', sans-serif;
    background-attachment: fixed;
    background-size:100%;
  }
@media(max-width:1200px){
  body{
    background-image: url("../img/test-landscape.jpeg");
    color: black;
    font-family: 'Montserrat', sans-serif;
    background-attachment: fixed;
    background-size:auto;
  }
  .logo b{
    font-size:3rem;
  }
  .custbtn{
    width:3rem;
    height:3rem;
  }
  .custbtn:hover{
    width:3rem;
    height:3rem;
  } 
}
i {
    color: white;
    font-size:1rem;
}
a:hover{
  text-decoration: none;
  color: #00000000;
}
form{
    width: 30%;
}
.icon-qwiklabs-1:before {
    content: "\e900";
  }
  .icon-HackerRank_logo:before {
    content: "\e901";
    color: #00b760;
  }
label {
    color: #fff;
}
.nav-tabs >li{
    color: #fff;
    margin-right:0.2%;
    background-color: #ffffff20;
}
@media (max-width: 800px) {
  .flex-container {
    display: flex;
    flex-direction: column;
  }
}
.tab-pane{
    background-color: #ffffff20;
    color: #fff;
    margin-top:0.2%;
    padding:5%;
    margin-bottom:10%;
    border-bottom-left-radius: 2cm;
}
.nav-link{
    color: #fff;
}
.nav-link:hover,:focus{
    color: #fff;
    background-color: #ffffff30;
    transition-duration: 0.5s;
}
.collapse-mods{
    width:40%;
    margin-left:50%;
    margin-bottom:2%;
    font-size:1.5rem;
    color: #fff;
    border: 2px solid #fff;
    border-top-right-radius: 1cm;
    background-color: #ffffff20;
    border-bottom-left-radius: 1cm;
    padding: 1rem;
}
.collapse-mods > .card{
    background-color: #000000;
}
/*--------------------preludepage-------------------*/
.prebtn{
  border-color: #ffffff00;
  background-color: #ffffff00;
}
.prebtn:focus{
  border-color: #ffffff00;
  background-color: #ffffff00;
}
.custom-jumbo3{
  display: flex;
  align-items: center;
  position: absolute;
  top:0%;
  left:0%;
  height:100%;
  width:50%;
  border-top-right-radius:50%;
  border-bottom-right-radius:50%;
  vertical-align: middle;
  background-color: #fff;
}
/*-----------------------------------------------------*/
.btn{
    border-radius:3rem;
    width:3rem;
    height:3rem;
    margin-bottom:0.1rem;
    text-align: center;
    vertical-align: middle;
    background-color: #00000000;
}
.btn:hover{
    background-color: #fff;
    transition-duration: 0.25s;
}
.btnnew{
  border-radius:3rem;
  width:3rem;
  height:3rem;
  margin-bottom:0.1rem;
  border: 0.1rem solid #fff;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #000000;
}
.btnnew:hover{
  background-color: grey;
  color: #000;
  transition-duration: 0.25s;
}
.fab {
    font-size:1rem;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*--------------------------------SKILLS--------------------------------*/
.custbtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    margin: 20px auto;
    width: 6rem;
    height: 6rem;
    background: #000000;
    border-radius: 1rem;
    border-color: #fff;
    color: #fff;
    font-size: 0.8rem;
    font-weight: lighter;
    letter-spacing: 2px;
    -webkit-transition: 1s box-shadow;
    transition: 1s box-shadow;
  }
  
  .custbtn:hover {
    box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
  }
  
  .custbtn:hover:before, .custbtn:hover:after {
    display: block;
    content: '';
    position: absolute;
    width: 6rem;
    height: 6rem;
    background: #fff;
    border-radius: 1rem;
    z-index: -1;
    -webkit-animation: 1s clockwise infinite;
            animation: 1s clockwise infinite;
  }
  
  .custbtn:hover:after {
    background: #ffffff20;
    -webkit-animation: 2s counterclockwise infinite;
            animation: 2s counterclockwise infinite;
  }
  
 
/*-------------------download button-----------------*/

.custa:hover{
  text-decoration: none;
}
.custbtn1:hover:before, .custbtn1:hover:after {
  display: block;
  content: '';
  position: absolute;
  width: 14rem;
  height: 7rem;
  background: #fff;
  border-radius: 1rem;
  z-index: -1;
  -webkit-animation: 1s clockwise infinite;
          animation: 1s clockwise infinite;
}

.custbtn1:hover:after {
  background: #ffffff20;
  -webkit-animation: 2s counterclockwise infinite;
          animation: 2s counterclockwise infinite;
}




  @-webkit-keyframes clockwise {
    0% {
      top: -5px;
      left: 0;
    }
    12% {
      top: -2px;
      left: 2px;
    }
    25% {
      top: 0;
      left: 5px;    
    }
    37% {
      top: 2px;
      left: 2px;
    }
    50% {
      top: 5px;
      left: 0;    
    }
    62% {
      top: 2px;
      left: -2px;
    }
    75% {
      top: 0;
      left: -5px;
    }
    87% {
      top: -2px;
      left: -2px;
    }
    100% {
      top: -5px;
      left: 0;    
    }
  }
  
  @keyframes clockwise {
    0% {
      top: -5px;
      left: 0;
    }
    12% {
      top: -2px;
      left: 2px;
    }
    25% {
      top: 0;
      left: 5px;    
    }
    37% {
      top: 2px;
      left: 2px;
    }
    50% {
      top: 5px;
      left: 0;    
    }
    62% {
      top: 2px;
      left: -2px;
    }
    75% {
      top: 0;
      left: -5px;
    }
    87% {
      top: -2px;
      left: -2px;
    }
    100% {
      top: -5px;
      left: 0;    
    }
  }
  
  @-webkit-keyframes counterclockwise {
    0% {
      top: -5px;
      right: 0;
    }
    12% {
      top: -2px;
      right: 2px;
    }
    25% {
      top: 0;
      right: 5px;    
    }
    37% {
      top: 2px;
      right: 2px;
    }
    50% {
      top: 5px;
      right: 0;    
    }
    62% {
      top: 2px;
      right: -2px;
    }
    75% {
      top: 0;
      right: -5px;
    }
    87% {
      top: -2px;
      right: -2px;
    }
    100% {
      top: -5px;
      right: 0;    
    }
  }
  
  @keyframes counterclockwise {
    0% {
      top: -5px;
      right: 0;
    }
    12% {
      top: -2px;
      right: 2px;
    }
    25% {
      top: 0;
      right: 5px;    
    }
    37% {
      top: 2px;
      right: 2px;
    }
    50% {
      top: 5px;
      right: 0;    
    }
    62% {
      top: 2px;
      right: -2px;
    }
    75% {
      top: 0;
      right: -5px;
    }
    87% {
      top: -2px;
      right: -2px;
    }
    100% {
      top: -5px;
      right: 0;    
    }
  }

  .custom-jumbo1,.custom-jumbo1 > hr {
    margin-left:0%;
    margin-right:2%;
    padding:2%;
    padding-top:5%;
    padding-bottom:5%;
    color: #fff;
    background-color: #ffffff20;
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
    border-top: 2px solid #fff;
}

.custom-jumbo2,.custom-jumbo2 > hr {
  margin-left:2%;
  padding:2%;
  padding-top:5%;
  padding-bottom:5%;
  color: #fff;
  background-color: #ffffff20;
  border-left: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
}
.custom-jumbo4,.custom-jumbo4 > hr {
  margin-left:0%;
  margin-right:2%;
  padding:2%;
  padding-top:5%;
  padding-bottom:5%;
  color: #fff;
  background-color: #ffffff20;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  border-top: 2px solid #fff;
}
.custom-jumbo4:hover{
  background-color: #ffffff50;
  color: #000;
  transition-duration:0.4s;
}
.custom-jumbo4:hover::after{
  color: #fff;
  background-color: #ffffff20;
  transition-duration:0.4s;
}
.custom-jumbo5,.custom-jumbo5 > hr {
  margin-right:3%;
  color: #fff;
  font-weight:100;
  background-color: #ffffff20;
  border-left: 0rem solid #fff;
  border: 0.1rem solid #ffffff00;
}
.custom-jumbo5 >h6{
  font-size:1rem;
}
.custom-jumbo5 >h4{
  font-size:1.25rem;
}
.custom-jumbo5 >h5{
  font-size:1rem;
}
.custom-jumbo,.custom-jumbo > hr {
    margin-left:2%;
    margin-right:2%;
    color: #fff;
    background-color: #ffffff20;
    border: 2px solid #fff;
    border-top-right-radius: 2cm;
    border-bottom-left-radius: 2cm;
}
.custom-carousel-indicators {
    margin-right:2%;
    float:right;
}
.dropdown-menu,.dropdown-menu>a {
    background-color: #000000;
    color: #fff;
    border-color: #fff;
}

/*----carousel-----*/

.carousel-inner,.carousel,.carousel-item,.container,.fill {
    height:100%;
    min-height:400px;
    width:100%;
    background-position:center center;
    background-size:cover;
}
.slide-wrapper{display:inline;}
.slide-wrapper .container{padding:0;}

#icons{
  margin-left:94%;
  top:2%;
  text-align: center;
  position: fixed;
}

/*------------------------------ vertical bootstrap slider----------------------------*/

.carousel-inner> .carousel-item.carousel-item-next ,
.carousel-inner > .carousel-item.active.carousel-item-right{ 
    transform: translate3d(0, 100%, 0); -webkit-transform: translate3d(0, 100%, 0); -ms-transform: translate3d(0, 100%, 0); -moz-transform: translate3d(0, 100%, 0); -o-transform: translate3d(0, 100%, 0);  top: 0;
    
}
.carousel-inner > .carousel-item.carousel-item-prev ,
.carousel-inner > .carousel-item.active.carousel-item-left{ 
    transform: translate3d(0,-100%, 0); -webkit-transform: translate3d(0,-100%, 0);  -moz-transform: translate3d(0,-100%, 0);-ms-transform: translate3d(0,-100%, 0); -o-transform: translate3d(0,-100%, 0); top: 0;
    
}
.carousel-inner > .carousel-item.next.carousel-item-left ,
.carousel-inner > .carousel-item.carousel-item-prev.carousel-item-right ,
.carousel-inner > .carousel-item.active{
    transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);; -moz-transform:translate3d(0,0,0); -o-transform:translate3d(0,0,0); top:0;
    
}

/*------------------------------- vertical carousel indicators ------------------------------*/
.carousel-indicators{
    position:absolute;
    top:0;
    bottom:0;
    margin:auto;
    height:20px;
    right:10px; left:auto;
    width:auto;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}
.carousel-indicators li{
    display:block; margin-bottom:5px; border:1px solid #00a199; 
    
}
.carousel-indicators li.active{
    margin-bottom:5px; background:#00a199;
    
}
